# MongoDB
MONGODB_URI=your_mongodb_connection_string

# JWT Authentication
JWT_SECRET=7389d6cdce92461d6385ccfd5205e023f5f2fb0062be01ac4c29d3cb7b18d91c2e3987941b4dd94a3d72a3657db1d3f812d1c683a45b311eb988a1cdfd2c4c88

# Email (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=bblogisticsb@gmail.com
SMTP_PASS=icaaxjbbodgrtmur

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret

# Admin Initial Setup
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
